.register_and_list {
    display: flex;
    flex-direction: row;
}

.registration {
    border: 2px outset black;
    border-color: black;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    width: fit-content;
    height: fit-content;
}

.registered_aliens {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    background-color: aquamarine;
    width: fit-content;
}

.unregistered_aliens {
    background-color: brown;
}

.alien_list table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 12px;
}