.logout {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.execute {
    background-color: #b2b2b2;
    color: white;
    border: none;
    padding: 4px 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.execute:hover {
    background-color: #008CBA;
}
