@model Tester

@{
    ViewData["Title"] = "Home Page";
}
<h1>Välkommen till min sida</h1>

<div>
    @ViewBag.Message
    <form method="post" action="@Url.Action("LoggedIn", "Home")">
        <label>USERNAME:</label><br />
        <input name="username" type="text" /><br />

        <label>PASSWORD:</label><br />
        <input name="password" type="password" /><br />
        <input type="submit" value="SUBMIT" />
    </form>
</div>

@{

}
