@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Welcome, you are logged in.
<br /><br />
You may now register an entity.<br />
Which would you like to register?<br /><br />

<div>
    <form method="post" action="@Url.Action("RegisterEntity", "Home")">
        <label>Entity</label><br />
        <select name="EntitySelection" required>
            <option value="alien">Alien</option>
            <option value="ship">Ship</option>
            <option value="weapon">Weapon</option>
        </select>
        <input type="submit" value="submit" />
    </form>
</div>