@model Hemtentamen_Databaskonstruktion.Views.HusViewModel

<form method="post" action="AdderaHus">

        <label>Adress:</label><input type="text" id="Adress" name="Adress" required>
        <label>Plats:</label><input type="text" id="Plats" name="Plats">
        <label>Kategori:</label><input type="text" id="Kategori" name="Kategori">
        <label>Längd:</label><input type="number" id="Längd" name="Längd">
        <label>Bredd:</label><input type="number" id="Bredd" name="Bredd">
        <label>MaterialId:</label><input type="number" id="MaterialId" name="MaterialId">
        <label>Kostnad:</label><input type="number" id="Kostnad" name="Kostnad">

    <button type="submit">Lägg till Hus</button>
</form>